.products-section {
    position: relative;
    background: url('../assets/images/banner6.jpg') center/cover no-repeat;

  }
  .products-wrapper {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
  }
  .section-title {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 40px;
    position: relative;
  }
  .section-title::after {
    content: '';
    width: 60px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .products-slider .slick-slide > div {
    padding: 0 10px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px;
    color: #333;
  }
